

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body text-center" style="/*background-color: #facf5a;*/">
                        <h4 class="card-title">Place A To Place B</h4>
                        <h6 class="text-muted card-subtitle mb-2">6:00pm</h6>
                        <p class="card-text">Santro</p>
                        <p class="card-text">TS 904 48484&nbsp;</p>
                        <p class="card-text" style="font-weight: bold;color: green;">Seats Availabel : 2</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#UpdateCar">Modify</button>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</section>