<table class="table">
    <thead class="thead headColor">
      <tr class="rowTable">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Driver</td>
        <td>
           
            <button class="btn btnCustom btn-sm btn-lg" data-toggle="modal" data-target="#UpdatedModal">Edit</button>
            <button class="btn btnCustom btn-sm btn-lg" data-toggle="modal" data-target="#DeleteModal">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Employee</td>
        <td>
            <button class="btn btnCustom btn-sm btn-lg" data-toggle="modal" data-target="#UpdatedModal">Edit</button>
            <button class="btn btnCustom btn-sm " data-toggle="modal" data-target="#DeleteModal">Delete</button>

        </td>
      </tr>
   
    </tbody>
  </table>
  

